
  
  .item-card {
    display: flex;
    flex-wrap: wrap;
  }

.container{
    display: flex;
    flex-wrap: wrap;
}
.bg-img{
    margin: 10px 2%;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.text{
    width: 40%;
    padding: 6%;
    text-align: center;
}
